.card {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 1);
  margin-left: 20px;
  border-radius: 8px 8px 8px 8px;
  font-family: "Arial";
  color: white;
  gap: 10px;
}

.movieImage {
  width: 100%;
  height: 120px;
  border-radius: 8px 8px 0 0;

  object-fit: cover;
  object-position: center 33%;
}
