.navbar {
  background-color: rgba(24, 24, 27, 1);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  width: 200px;
  font-family: "Arial", sans-serif;
  color: rgba(239, 68, 68, 1);
  font-weight: 800;
  padding-left: 20px;
  font-size: 40px;
}

.navbar-categories {
  flex: 1;
}

.navbar-categories button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(217, 217, 217);
  margin-left: 5px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.navbar-categories button:hover {
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(255, 255, 255);
}

.navbar-rightSection {
  width: 325px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
  gap: 8px;
}

.profileBtn,
.actorsBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profileImage {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  object-fit: cover;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
}


.searchBtnInside {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2px;
}

.searchField {
  height: 1.4vw;
  border: 2px solid transparent;
  border-radius: 10px;
}

.searchField:focus {
  outline: none;
}

@media (max-width: 640px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 1000;
  }

  .logo {
    font-size: 32px;
    padding-left: 20px;
  }

  .navbar-categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 20px;
    gap: 10px;
  }

  .navbar-categories button {
    margin: 10px 0;
    font-size: 18px;
  }

  .navbar-rightSection {
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 75%;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .searchBtn,
  .searchField {
    display: none;
  }
}
